/**
 * Issue #1966296: Info tooltip styling is broken for GeofieldMap
 
.geofield-geo-map img {
  max-width: none;
}
*/
/**
 * Styles for geofield geo views AJAX popup.
 */
.geofield-geo-map-ajax-popup {
  height: 140px;
  width: 180px;
  background: center no-repeat url('../assets/spin.gif');
}

// Map Infowindow Styling
.gm-style .gm-style-iw {
  max-width: 440px;
  img {
    margin: 4px 0;
    max-width: 100%
  }
  h1 {
    font-size: 22px;
    margin: 10px 0 6px 0;
  }
  h2 {
    font-size: 18px;
    margin: 8px 0 6px 0;
  }
  h3 {
    font-size: 16px;
    margin: 6px 0 4px 0;
  }
  h4 {
    font-size: 14px;
    margin: 4px 0 4px 0;
  }
  p:first-child, div:first-child, .field:first-child {
    padding: 2px 0;
  }
  .geofield-geo-map {
    display: none;
  }
}

@media (max-device-width:480px) {
  .gm-style .gm-style-iw {
    max-width: 240px;
  }
}