.geofield-map-widget {
  &.leaflet-container {
    z-index: 1;
    .leaflet-top, .leaflet-bottom {
      z-index: 400;
    }
  }
}

.geofield-geo-map-cnt {
  display: block;
  margin: 10px 0;
  border: solid thin darkgray;
  .leaflet-top {
    z-index: 10;
  }
}

.geofield-geo-map-buttons {
  margin: 10px 0;
}

.geofield_geo-map_geoaddress_field_hidden {
  display: none;
}
